body {
    background-image: url("img/img/backdrop.jpg");
    overflow-x: hidden;
}

div.row.customClass {
   overflow-x: auto;
     /*overflow-x: hidden;*/
   white-space: nowrap;
 }

div.row.customClass [class*="col-md"] {
   display: inline-block;
   vertical-align: top;
   float: none; /* Very important */
}
